# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/archive/2txt.txt
/archive/affix_const.py
/archive/ar_adv-old.py
/archive/ar_adv2.py
/archive/arabicstopwords.zip
/archive/arabicwordtagger2013-11-16.zip
/archive/classify_stopwords_quran.py
/archive/classify_words.py
/archive/classify_words_corpus.py
/archive/classify_words_quran.py
/archive/module1.py
/archive/test_word_tag_file.py
/archive/testarad.py
/archive/testguessword.py
/archive/testtagwordlist.py
/archive/treat_corpus.py
/archive/txt
/archive/verb_const.py
/archive/verb_dictionary.py
/archive/نسخ من ar_adv.py
/core/.svn/all-wcprops
/core/.svn/entries
/core/.svn/text-base/__init__.py.svn-base
/core/.svn/text-base/affix_const.py.svn-base
/core/.svn/text-base/ar_ctype.py.svn-base
/core/.svn/text-base/ar_stowords.py.svn-base
/core/.svn/text-base/arabic_const.py.svn-base
/core/.svn/text-base/guesswordtype.py.svn-base
/core/.svn/text-base/number.py.svn-base
/core/.svn/text-base/randomtext.txt.svn-base
/core/.svn/text-base/stopwords.py.svn-base
/core/.svn/text-base/testinverorder.py.svn-base
/core/.svn/text-base/testtag.py.svn-base
/core/.svn/text-base/txt.svn-base
/core/.svn/text-base/unshape.py.svn-base
/core/.svn/text-base/wordtag.py.svn-base
/doc/recent-improvement-for-arabic-searches.html
/doc/recent-improvement-for-arabic-searches_files/1576120009-widget_css_bundle.css
/doc/recent-improvement-for-arabic-searches_files/2791266615-blog.htm
/doc/recent-improvement-for-arabic-searches_files/3319451950-blogarchive.css
/doc/recent-improvement-for-arabic-searches_files/3727950723-blog_controls.css
/doc/recent-improvement-for-arabic-searches_files/4030489368-widgets.js
/doc/recent-improvement-for-arabic-searches_files/MKuf.gif
/doc/recent-improvement-for-arabic-searches_files/a.png
/doc/recent-improvement-for-arabic-searches_files/add_to_google_btn.gif
/doc/recent-improvement-for-arabic-searches_files/api
/doc/recent-improvement-for-arabic-searches_files/authorization.css
/doc/recent-improvement-for-arabic-searches_files/blogger-powerby-blue.gif
/doc/recent-improvement-for-arabic-searches_files/defaultar.js
/doc/recent-improvement-for-arabic-searches_files/feed-icon.gif
/doc/recent-improvement-for-arabic-searches_files/gse_multipart53168.png
/doc/recent-improvement-for-arabic-searches_files/gsearch.css
/doc/recent-improvement-for-arabic-searches_files/icon18_edit_allbkg.gif
/doc/recent-improvement-for-arabic-searches_files/icon18_email.gif
/doc/recent-improvement-for-arabic-searches_files/icon18_wrench_allbkg.png
/doc/recent-improvement-for-arabic-searches_files/icon_delete13.gif
/doc/recent-improvement-for-arabic-searches_files/navbar.htm
/doc/recent-improvement-for-arabic-searches_files/navbar_data/107652916-dom.js
/doc/recent-improvement-for-arabic-searches_files/navbar_data/3625575137-cookies.js
/doc/recent-improvement-for-arabic-searches_files/navbar_data/4095335807-common.js
/doc/recent-improvement-for-arabic-searches_files/officialgoogleblogs-all
/doc/recent-improvement-for-arabic-searches_files/small-logo.png
/doc/recent-improvement-for-arabic-searches_files/sq1.jpeg
/doc/recent-improvement-for-arabic-searches_files/urchin.js
/guessword/.svn/all-wcprops
/guessword/.svn/entries
/guessword/.svn/text-base/affix_const.py.svn-base
/guessword/.svn/text-base/ar_adv.py.svn-base
/guessword/.svn/text-base/ar_ctype.py.svn-base
/guessword/.svn/text-base/ar_stopwords.py.svn-base
/guessword/.svn/text-base/ar_stowords.py.svn-base
/guessword/.svn/text-base/arabic_const.py.svn-base
/guessword/.svn/text-base/classify_stopwords_quran.py.svn-base
/guessword/.svn/text-base/classify_words.py.svn-base
/guessword/.svn/text-base/classify_words_corpus.py.svn-base
/guessword/.svn/text-base/classify_words_quran.py.svn-base
/guessword/.svn/text-base/create_verbstamp.py.svn-base
/guessword/.svn/text-base/module1.py.svn-base
/guessword/.svn/text-base/specialwords.py.svn-base
/guessword/.svn/text-base/stopwords.py.svn-base
/guessword/.svn/text-base/test.py.svn-base
/guessword/.svn/text-base/test_tag.bat.svn-base
/guessword/.svn/text-base/testtag.py.svn-base
/guessword/.svn/text-base/treat_corpus.py.svn-base
/guessword/.svn/text-base/verb_const.py.svn-base
/guessword/.svn/text-base/verb_dictionary.py.svn-base
/guessword/.svn/text-base/verb_stamp.py.svn-base
/guessword/.svn/text-base/wordtag.py.svn-base
/guessword/.svn/text-base/wordtag5.py.svn-base
/naftawayh/.svn/entries
/naftawayh/.svn/format
/naftawayh/.svn/pristine/03/030a0531971c33350bd1dd9a64020b8a3b86fed0.svn-base
/naftawayh/.svn/pristine/12/12f5808e70084e8ad83788be8072aa29096eeec5.svn-base
/naftawayh/.svn/pristine/19/19d88c36bfb6e0a7a2d033141fe450b940cccb86.svn-base
/naftawayh/.svn/pristine/24/2495d9a866b3c3b628f5038c9671b8969681adba.svn-base
/naftawayh/.svn/pristine/2f/2f2ce380590a35fb5c2038167ff1ab357f5f54ef.svn-base
/naftawayh/.svn/pristine/55/553a546730af9d40e563609c5e17a2d3b53bf8ec.svn-base
/naftawayh/.svn/pristine/57/575dd1605036675f015806b1ea1d07f88d8778bb.svn-base
/naftawayh/.svn/pristine/66/66ad3343b44d6290de8b64aaf84c2592e6b41198.svn-base
/naftawayh/.svn/pristine/67/67bcaa8b7150b6fa0e00c008cfa36d453acd872b.svn-base
/naftawayh/.svn/pristine/7e/7e2d067e62fb88bee272d7322da3a23778ac9277.svn-base
/naftawayh/.svn/pristine/81/81f1737ea45ff991b8a0ac2b36675c8affb21232.svn-base
/naftawayh/.svn/pristine/85/85770168c22b8d2426e5557208f83a11ccc9fd83.svn-base
/naftawayh/.svn/pristine/9f/9f87ca7e47560bb7c71398f455d56f8dbce39747.svn-base
/naftawayh/.svn/pristine/d1/d1a75015263f802ff77b7f0a9059aea82f444248.svn-base
/naftawayh/.svn/pristine/fc/fc7e2da8350136cb219d3ed93d437e435572a712.svn-base
/naftawayh/.svn/pristine/ff/ffc5e1e119de2f47a5db9551283f9f7402d6b914.svn-base
/naftawayh/.svn/wc.db
/tests/output/Book1.xls
/tests/output/qurantag-20131115_2123.txt
/tests/output/qurantag-20131115_2129.txt
/tests/output/qurantag-20131115_2136.txt
/tests/output/qurantag-20131115_2137.txt
/tests/output/qurantag-20131115_2143.txt
/tests/output/qurantag-20131115_2256.txt
/tests/output/qurantag-20131115_2257.txt
/tests/output/qurantag-20131115_2304.txt
/tests/output/qurantag-20131115_2308.txt
/tests/output/qurantag-20131115_2309.txt
/tests/output/qurantag-20131115_2314.txt
/tests/output/qurantag.txt
/tests/output/text09022010.txt
/tests/output/text09022010b.txt
/tests/output/text09022010c.txt
/tests/output/text09022010d.txt
/tests/output/text09022010e.txt
/tests/output/text09022010f.txt
/tests/output/text09022010g.txt
/naftawayh/wordtag_const.py~
/naftawayh/wordtag.py~
/guessword/arabicstopwords/.svn/all-wcprops
/guessword/arabicstopwords/.svn/entries
/guessword/arabicstopwords/.svn/prop-base/TODO.txt.svn-base
/guessword/arabicstopwords/.svn/text-base/AUTHORS.svn-base
/guessword/arabicstopwords/.svn/text-base/COPYING.svn-base
/guessword/arabicstopwords/.svn/text-base/ChangeLog.svn-base
/guessword/arabicstopwords/.svn/text-base/INSTALL.svn-base
/guessword/arabicstopwords/.svn/text-base/TODO.txt.svn-base
/guessword/arabicstopwords/.svn/text-base/__init__.py.svn-base
/guessword/arabicstopwords/.svn/text-base/stopwords.py.svn-base
/guessword/arabicstopwords/data/.svn/all-wcprops
/guessword/arabicstopwords/data/.svn/entries
/guessword/arabicstopwords/data/.svn/prop-base/stopword0.3.xls.svn-base
/guessword/arabicstopwords/data/.svn/prop-base/stopwords.db.svn-base
/guessword/arabicstopwords/data/.svn/text-base/stopword0.3.csv.svn-base
/guessword/arabicstopwords/data/.svn/text-base/stopword0.3.xls.svn-base
/guessword/arabicstopwords/data/.svn/text-base/stopwords.db.svn-base
/guessword/arabicstopwords/data/.svn/text-base/stopwords_allforms.txt.svn-base
/guessword/arabicstopwords/tools/.svn/all-wcprops
/guessword/arabicstopwords/tools/.svn/entries
/guessword/arabicstopwords/tools/.svn/text-base/ar_stowords.py.svn-base
/guessword/arabicstopwords/tools/.svn/text-base/arabic_const.py.svn-base
/guessword/arabicstopwords/tools/.svn/text-base/arabicchars.py.svn-base
/guessword/arabicstopwords/tools/.svn/text-base/convert_asw_2db.py.svn-base
/guessword/arabicstopwords/tools/.svn/text-base/generate_stopwords_forms.py.svn-base
/core/__init__.py
/core/affix_const.py
/core/ar_ctype.py
/core/ar_stopwords.py
/core/ar_stowords.py
/core/ar_trans.py
/core/arabic_const.py
/core/create_verbstamp.py
/core/generate.py
/core/generate2.py
/core/guesswordtype.py
/core/number.py
/core/randomtext.txt
/core/stopwords.py
/core/test_tag.bat
/core/testgen.py
/core/testinverorder.py
/core/testtag.py
/core/testtrans.py
/core/trans_table.py
/core/txt
/core/unshape.py
/core/verb_stamp.py
/core/verb_stamp2.py
/core/wordtag.py
/doc/17.pdf
/doc/Book1.xls
/doc/Resources.html
/doc/Resources_fichiers/AWNlogo.gif
/doc/api-objects.txt
/doc/ar_adv.py
/doc/crarr.png
/doc/epydoc.css
/doc/epydoc.js
/doc/frames.html
/doc/guessword.guesswordtype-module.html
/doc/guessword.guesswordtype-pysrc.html
/doc/guessword.guesswordtype.ArabicWordTypeGessing-class.html
/doc/help.html
/doc/html/Tashaphyne.normalize-module.html
/doc/html/Tashaphyne.normalize-pysrc.html
/doc/html/Tashaphyne.stemming-module.html
/doc/html/Tashaphyne.stemming-pysrc.html
/doc/html/Tashaphyne.stemming.ArabicLightStemmer-class.html
/doc/html/api-objects.txt
/doc/html/class-tree.html
/doc/html/crarr.png
/doc/html/epydoc.css
/doc/html/epydoc.js
/doc/html/frames.html
/doc/html/guessword.guesswordtype-module.html
/doc/html/guessword.guesswordtype-pysrc.html
/doc/html/guessword.guesswordtype.ArabicWordTypeGessing-class.html
/doc/html/help.html
/doc/html/identifier-index.html
/doc/html/index.html
/doc/html/module-tree.html
/doc/html/redirect.html
/doc/html/toc-Tashaphyne.normalize-module.html
/doc/html/toc-Tashaphyne.stemming-module.html
/doc/html/toc-everything.html
/doc/html/toc-guessword.guesswordtype-module.html
/doc/html/toc.html
/doc/identifier-index.html
/doc/index.html
/doc/jcs23245-248.pdf
/doc/module-tree.html
/doc/prs1120000.ppt
/doc/redirect.html
/doc/rootq.htm
/doc/rootq_fichiers/26783_2-mazaj-108.jpg
/doc/rootq_fichiers/3396797315-blog_controls_rtl.css
/doc/rootq_fichiers/352957945-widget_css_bundle_rtl.css
/doc/rootq_fichiers/4030489368-widgets.js
/doc/rootq_fichiers/authorization.css
/doc/rootq_fichiers/blank.gif
/doc/rootq_fichiers/icon18_edit_allbkg.gif
/doc/rootq_fichiers/icon18_email.gif
/doc/rootq_fichiers/icon18_wrench_allbkg.png
/doc/rootq_fichiers/icon_delete13.gif
/doc/rootq_fichiers/navbar.htm
/doc/rootq_fichiers/navbar_data/4095335807-common.js
/doc/toc-everything.html
/doc/toc-guessword.guesswordtype-module.html
/doc/toc.html
/doc/url.htm
/doc/v6-25.pdf
/doc/اللغة العربية ا.doc
/doc/تخمين الأسماء والأفعال.doc
/doc/تخمين الأسماء والأفعال.txt
/doc/لموجز في قواعد اللغة العربية ا.doc
/doc/class-tree.html
/guessword/
/doc/html
/tests/output
